.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(204, 43%, 93%)
}
h1,h2,h3,h4,p
{
    font-family: 'Karla', sans-serif;
}
.heading-join{
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    font-size: 25px;
    margin: 10px auto 20px;
}
h3
{
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    font-size: 19px;
    margin-bottom: 10px;
}
span{
    font-size: 16px;
    opacity: 0.6;
    color:hsl(204, 43%, 93%);
    font-weight: 400;
}
h4
{
    color: white;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    font-size: 27px;
    opacity: 100%;
}
button
{
    margin-right: 25px;
}
.heading-second{
    font-weight: 700;
    color: white;
    font-size: 22px;
    margin-bottom: 25px;
}
p{
    color:hsl(204, 43%, 93%);
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}
.attribution
{
    color: black;
}
.first-p
{
    color: hsl(218, 22%, 67%);
    margin-bottom: 1rem;
    font-size: 16px;
}
.second-p
{
    font-size: 16px; 
    margin: 15px auto;
}

.container
{
    width: 55%;
    margin: 5% auto;
}
.card1
{
    background-color: #fff;
    padding: 5% 9%;
    border-radius: 10px 10px 0 0;
}
.card2
{
    padding: 5%;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 10px;
}
.card3
{
    padding: 5%;
    background-color: hsl(179, 62%, 47%);
    border-radius: 0 0 10px 0;
}

.btn-dark
{
    background-color: hsl(71, 73%, 54%);
    border-color:  hsl(71, 73%, 54%);
}

@media (max-width : 575px)
{
    .container
    {
        width: 75%;
    }

.card2
{
    border-radius: 0 0 0 0;
}
.card3
{
    border-radius: 0 0 10px 10px;
}
}

@media (max-width : 375px)
{
    .container
    {
        width: 90%;
    }
}